
******* P O D S U M O W A N I E ********
{% if template_variables|length == 0 %}

Brak interfejsów ge- w stanie operacyjnym 'down' na urzadzeniach
{% else %}

Niedziałające interfejsy na urządzeniach
{% for host in template_variables %}
  Router: {{ host|e }}
{% for port in template_variables[host] %}
    Interfejs {{ port|e }} nie działa od {{ template_variables[host][port]|e }}
{% endfor %}
{% endfor %}
{% endif %}

******* K O N I E C ********


